<button class="newButton" ng-click="new()">NEW CUSTOMER</button>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Customers</h3>
                <nav-filter filter-on="true"
                            sort-type="+name|Name asc;-name|Name dsc;+address|Address asc;-address|Address dsc;+town|Town asc;-town|Town dsc"
                            srch-type="name|Name;address|Address;town|Town" paging-on="true"></nav-filter>
            </div>

            <table id="datatable" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th><i class="fa fa-cog" aria-hidden="true"></i></th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Town</th>
                    <th>Edit</th>
                    <th admin-view>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="customer in customers">
                    <td>{{$index + 1+((currentPage-1)*10)}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.address}}</td>
                    <td>{{customer.town}}</td>

                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                    data-target="#edit" ng-click="edit(customer)"><i class="fa fa-pencil"
                                                                                     aria-hidden="true"></i></button>
                        </p>
                    </td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                                    data-target="#delete" ng-click="delete(customer.id)"
                                    admin-view><i
                                    class="fa fa-trash-o"
                                    aria-hidden="true"></i>
                            </button>
                        </p>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <nav-pagination></nav-pagination>
    </div>
</div>

<modal-dialog show='modalShown'>

    <form role="form" name="myForm">
        <div class="form-group">
            <label class="hidden">ID</label><input type="hidden" class="form-control" ng-model="customer.id"
                                                   ng-disabled="customer.id"
        />
        </div>
        <div class="form-group">
            <label>Name</label><input type="text" name="name" class="form-control" ng-model="customer.name" required/>
            <span style="color:#a94442; margin-left: 30%;" ng-show="myForm.name.$touched">
                        <span style="color:#a94442" ng-show="myForm.name.$error.required">Name is required.</span>
            </span>
        </div>
        <div class="form-group">
            <label>Address</label><input type="text" name="address" class="form-control" ng-model="customer.address"
                                         required/>
            <span style="color:#a94442; margin-left: 30%;" ng-show="myForm.address.$touched">
                        <span style="color:#a94442" ng-show="myForm.address.$error.required">Address is required.</span>
            </span>
        </div>
        <div class="form-group">
            <div style="position: relative">
                <label>Town</label>
                <input type="text" name="town" class="form-control" ng-model="customer.town"
                       ng-change="autocomplete(customer.town)" ng-keyup="textUp($event)" required>
                <select id="townsel" class="form-control" ng-model="customer.townId"
                        ng-options="town.id as town.name for town in towns" ng-keypress="townSelected($event)"
                        ng-click="townSelected($event)"
                        style="position: absolute; z-index: 10000; top: 37px;"></select>
                <span style="color:#a94442; margin-left: 30%;" ng-show="myForm.town.$touched">
                        <span style="color:#a94442" ng-show="myForm.town.$error.required">Town is required.</span>
            </span>
            </div>
        </div>
    </form>

    <button class="saveButton" ng-click="save()">SAVE</button>


</modal-dialog>