<button class="newButton" ng-click="new()">NEW PROCUREMENT</button>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Procurements</h3>
                <nav-filter filter-on="true" sort-type="+name|Product asc;-name|Product dsc;+supplier|Supplier asc;-supplier|Supplier dsc;+date|Date asc;-date|Date dsc;+quantity|Quantity asc;-quantity|Quantity dsc"
                    srch-type="name|Name;product|Product;quantity|Quantity" paging-on="true"> </nav-filter>
            </div>

            <table id="datatable" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th><i class="fa fa-cog" aria-hidden="true"></i></th>
                        <th>Product</th>
                        <th>Supplier</th>
                        <th>Date</th>
                        <th>Document</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th admin-view>Edit</th>
                        <th admin-view>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="procurement in procurements">
                        <td>{{$index + 1+((currentPage-1)*10)}}</td>
                        <td>{{procurement.product}}</td>
                        <td>{{procurement.supplier}}</td>
                        <td>{{procurement.date}}</td>
                        <td>{{procurement.document}}</td>
                        <td>{{procurement.quantity}}</td>
                        <td>{{procurement.price}} &euro;</td>
                        <td>{{procurement.total}} &euro;</td>

                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ng-click="edit(procurement)"
                                    admin-view><i class="fa fa-pencil"
                                                                                                   aria-hidden="true"></i>
  g                          </button>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete">
                                <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="delete(procurement.id)"
                                    admin-view><i
                                    class="fa fa-trash-o"
                                    aria-hidden="true"></i>
                            </button>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav-pagination></nav-pagination>
    </div>
</div>

<modal-dialog show='modalShown'>

    <form role="form">
        <div class="form-group">
            <label class="hidden">ID</label><input type="hidden" class="form-control" ng-model="procurement.id" ng-disabled="procurement.id"
            />
        </div>
        <div class="form-group">
            <label>Products</label>
            <select ng-model="procurement.productId" class="form-control" ng-options="product.id as product.name for product in products"></select>
        </div>
        <div class="form-group">
            <label>Supplier</label>
            <select ng-model="procurement.supplierId" class="form-control" ng-options="supplier.id as supplier.name for supplier in suppliers"></select>
        </div>
        <div class="form-group">
            <label>Date</label><input value="date" type="date" class="form-control" ng-model="procurement.date" />
        </div>
        <div class="form-group">
            <label>Document</label><input type="text" class="form-control" ng-model="procurement.document" />
        </div>
        <div class="form-group">
            <label>Quantity</label><input type="text" class="form-control" ng-model="procurement.quantity" />
        </div>
        <div class="form-group">
            <label>Price</label><input type="text" class="form-control" ng-model="procurement.price" />
        </div>
    </form>

    <button class="saveButton" ng-click="save()">SAVE</button>

</modal-dialog>